{{> head}}

{{> board_navbar }}

<div class='container'>
	<h1 class='mt-3 mb-5'>/{{ board.slug }}/ — {{ board.name }}</h1>
	<div class='custom-masonry mt-3'>

		{{# each threads.elements }}
			<div class="card custom-masonry__card mb-3">
				<img src="{{ this.file }}" class="card-img-top" alt="Thread image">
				<div class="card-body">
					<h5 class="card-title">{{ this.subject }}</h5>
					<p class="card-text custom-blockquote">{{ this.comment }}</p>
					<div class='custom-card-bottom'>
						<a href="/{{ this.boardSlug }}/res/{{ this.numberOnBoard }}" class="btn btn-secondary">
							View Thread
						</a>
						<div title='Total replies count and replies with attached files'>
							<span class='icon-comment'></span>&nbsp;{{ this.repliesTotal }}&nbsp;
							<span class='icon-image'></span>&nbsp;{{ this.repliesWithFiles }}
						</div>
					</div>
				</div>
			</div>
		{{/ each }}
	</div>

	{{{ paginatorTemplate }}}

	<div>
		[
		<a href='#'>d</a>
		]
		[
		<a href='#'>b</a> /
		<a href='#'>vg</a> /
		<a href='#'>a</a> /
		<a href='#'>po</a>
		]
	</div>
</div>

{{> eof}}
