{{> head}}

{{> thread_navbar }}

<div
	class="modal fade"
	id="replyInThreadModal"
	tabindex="-1"
	aria-labelledby="replyInThreadModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="replyInThreadModalLabel">
					Reply to thread #{{ openingPost.numberOnBoard }}
				</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form
					action='/{{ openingPost.boardSlug }}/res/{{ openingPost.numberOnBoard }}'
					method='post'
					enctype="multipart/form-data"
					id='replyForm'
				>
					<div class="mb-3">
						<label for="newReplyEmail" class="form-label">Email</label>
						<input type="email" name='email' class="form-control" id="newReplyEmail">
					</div>
					<div class="mb-2">
						<label for="newReplyName" class="form-label">Name</label>
						<input type="text" name='name' class="form-control" id="newReplyName">
					</div>
					<div class="mb-2">
						<label for="newReplySubject" class="form-label">Subject</label>
						<input type="text" name='subject' class="form-control" id="newReplySubject">
					</div>
					<div class="mb-2">
						<label for="newReplyComment" class="form-label">Comment</label>
						<textarea class="form-control" name='comment' id="newReplyComment" rows="7" required></textarea>
					</div>
					<div class="mb-2">
						<label for="newReplyFile" class="form-label">File</label>
						<input class="form-control" name='file' type="file" id="newReplyFile">
					</div>
					<div class="mb-2 col-4">
						<label for="newReplyPassword" class="form-label">Password</label>
						<input type="password" name='password' class="form-control" id="newReplyPassword" required>
					</div>
					<div class="form-check">
						<input class="form-check-input" name='dontHit' type="checkbox" id="newReplySage">
						<label class="form-check-label" for="newReplySage">Sage (don't bump thread)</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" name='stayIn' type="checkbox" id="newReplyNoko" checked>
						<label class="form-check-label" for="newReplyNoko">Noko (stay in thread)</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" form='replyForm'>Submit</button>
			</div>
		</div>
	</div>
</div>

<div class='container mt-4'>
	<a href='/{{ openingPost.boardSlug }}' class='btn btn-outline-primary'>Go back</a>

	<form action='/{{ openingPost.boardSlug }}/res/{{ openingPost.numberOnBoard }}/delete' method='post'>
		<table class='table table-striped mt-3'>
			<thead>
			<tr>
				<td class='custom-thread-comment'>
					<a name='{{ openingPost.numberOnBoard }}'></a>
					<input
						type='checkbox'
						name='delete'
						value='{{ openingPost.numberOnBoard }}'
						class="form-check-input custom-thread-comment__checkbox"
					>
					<div>
						{{# if openingPost.file }}
							<a href='{{ openingPost.file }}' class='mt-3 mb-2' target='_blank'>
								<img
									src="{{ openingPost.file }}"
									class="img-thumbnail"
									alt="{{ openingPost.file }}"
									width='300'
								>
							</a>
						{{/if}}

						<p class="h3 mt-3">{{ openingPost.subject }}</p>

						<span class='text-secondary'>
							Posted by:
						</span>

						{{# if openingPost.email }}
							<a href='mailto:{{ openingPost.email }}'>
								{{ openingPost.email }}
							</a>
						{{ else }}
							<span class='text-primary'>
								{{ openingPost.name }}
							</span>
						{{/if}}
						<span class='text-secondary'>
							At: <strong class='posting-time'>{{ openingPost.createdAt }}</strong>
						</span>
						<span class="badge bg-info text-dark">OP</span>

						{{# if session.email }}
							&nbsp;&nbsp;<span>IP: <strong class='text-primary'>
									{{ openingPost.posterIp }}
								</strong>&nbsp;&nbsp;
							</span>
							<a
								href='/megami/moderation/ban?ip={{ openingPost.posterIp }}&postId={{ openingPost.id }}'
								class='btn btn-outline-danger btn-sm'
								target='_blank'
							>
								Ban
							</a>
						{{/ if }}

						<button
							type="button"
							class="btn btn-secondary btn-sm"
							onclick='copyPermalink(this, {{ openingPost.numberOnBoard }})'
						>
							Permalink
						</button>
						<button
							type="button"
							class="btn btn-primary btn-sm"
							data-bs-toggle="modal"
							data-bs-target="#replyInThreadModal"
						>
							Reply
						</button>
						<blockquote class='mt-3 custom-blockquote'>{{ openingPost.comment }}</blockquote>
					</div>
				</td>
			</tr>
			</thead>

			<tbody>
			{{# each replies }}
				<tr>
					<td class='custom-thread-comment'>
						<a name='{{ this.numberOnBoard }}'></a>
						<input
							type='checkbox'
							name='delete'
							value='{{ this.numberOnBoard }}'
							class="form-check-input custom-thread-comment__checkbox"
						>
						<div>
							{{# if this.file }}
								<a href='{{ this.file }}' class='mt-3 mb-2' target='_blank'>
									<img
										src="{{ this.file }}"
										class="img-thumbnail"
										alt="{{ this.file }}"
										width='300'
									>
								</a>
							{{/if}}

							<p class="h3 mt-3">{{ this.subject }}</p>

							<span class='text-secondary'>
								Posted by:
							</span>

							{{# if this.email }}
								<a href='mailto:{{ this.email }}'>
									{{ this.email }}
								</a>
							{{ else }}
								<span class='text-primary'>
									{{ this.name }}
								</span>
							{{/if}}
							<span class='text-secondary'>
								At: <strong class='posting-time'>{{ this.createdAt }}</strong>
							</span>

							{{# if ../session.email }}
								&nbsp;&nbsp;<span>IP: <strong class='text-primary'>
									{{ this.posterIp }}
									</strong>
								</span>&nbsp;&nbsp;
								<a
									href='/megami/moderation/ban?ip={{ this.posterIp }}&postId={{ this.id }}'
									class='btn btn-outline-danger btn-sm'
									target='_blank'
								>
									Ban
								</a>
							{{/ if }}

							<button
								type="button"
								class="btn btn-secondary btn-sm"
								onclick='copyPermalink(this, {{ this.numberOnBoard }})'
							>
								Permalink
							</button>
							<button
								type="button"
								class="btn btn-primary btn-sm"
								data-bs-toggle="modal"
								data-bs-target="#replyInThreadModal"
							>
								Reply
							</button>
							<blockquote class='mt-3 custom-blockquote'>{{ this.comment }}</blockquote>
						</div>
					</td>
				</tr>
			{{/ each }}
			</tbody>
		</table>

		<div>
			[
			<a href='#'>d</a>
			]
			[
			<a href='#'>b</a> /
			<a href='#'>vg</a> /
			<a href='#'>a</a> /
			<a href='#'>po</a>
			]
		</div>
		<div class='custom-delete-comments'>
			<span>
				<strong>Delete posts</strong>
				<label for='fileOnly' class='text-secondary'>Only files</label>
				<input type='checkbox' name='fileOnly' id='fileOnly' class='form-check-input'>
			</span>
			<label for="deletePostPassword" class="form-label">Password</label>
			<input type="password" name='password' class="form-control custom-delete-comments__pwd" id="deletePostPassword">
			<button type="submit" class="btn btn-secondary mt-2">Delete</button>
		</div>
	</form>
</div>

{{> eof}}
